{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'i/img/favicon.ico' %}" type="image/x-icon">
    <link href="{% static 'i/css/index.css' %}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
          integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" 
          crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Привет!</title>
</head>
<body class="bg-dark text-white">
    <header>
        <nav class="navbar navbar-expand-sm nav-fill w-100" style="font-size: 18px;">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" 
                      aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse row justify-content-around" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item col">
                    <a class="nav-link active link-light" href="#">dino-mayk</a>
                  </li>
                  <li class="nav-item col">
                    <a class="nav-link active link-light" href="#about">О себе</a>
                  </li>
                  <li class="nav-item col">
                    <a class="nav-link active link-light" href="#projects">Проекты</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </header>
    <main>
      <aside class="sidebar">
          <nav>
              <ul class="sidebar-links">
                  <li>
                      <a class="sidebar-link" href="https://github.com/dino-mayk" target="_blank">
                        <i class="bi bi-github" style="font-size: 25px; color: white;"></i>
                      </a>
                  </li>
      
                  <li>
                      <a class="sidebar-link" href="https://t.me/dino_mayk" target="_blank">
                        <i class="bi bi-telegram" style="font-size: 25px; color: #2AABEE;"></i>
                      </a>
                  </li>
              
                  <li>
                      <a class="sidebar-link" href="https://discord.com/users/744502765585301545" target="_blank">
                        <i class="bi bi-discord" style="font-size: 25px; color: #712cf9;"></i>
                      </a>
                  </li>
              </ul>
          </nav>
      </aside>
      <div class="container">
        <section class="user" id="user">
            <div class="user-header">
                <img class="user-image" src="{% static 'i/img/i.jpg' %}" alt="Моё фото">
                <h4 class="user-name">Краснов Никита Алексеевич</h4>
            </div>

            <div class="user-info">
                <div class="info-block">
                    <span class="info-title">Населенный пункт</span>
                    <span class="info-content">с. Курино(Липецкая область)</span>
                </div>

                <div class="info-block">
                    <span class="info-title">Возраст</span>
                    <span class="info-content">15 лет</span>
                </div>

                <div class="info-block">
                    <span class="info-title">Школа</span>
                    <span class="info-content">МБОУ СОШ с Конь-Колодезь</span>
                </div>
            </div>
        </section>
      </div>
    </main>
</body>
</html>